@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #ec3934;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* slideshow-container */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

/* slider section CSS */

.slider,
.slider__continer,
.slider__caption {
  font-size: 2.3rem;
}

.slider {
  display: none;
  /* position: relative; */
  /* width: 100%; */
}

/* header sectin CSS */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* topBar section CSS */
.topBar {
  width: 90vw;
  margin: 40px auto;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBar-left {
  flex-basis: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__image {
  height: 40px;
  margin-top: 8px;
}

.buttonWrapper {
  margin-left: 20px;
}

.buttonLocation {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  outline: none;
  padding: 5px 10px;
  border-radius: 15px;
  color: var(--primary-color);
  margin: 0 5px;
  cursor: pointer;
}

.buttonLocation--active,
.buttonLocation:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.topBar-right {
  flex-basis: 20%;
}

.topBar-right ul {
  list-style: none;

  display: flex;
  justify-content: flex-end;
}

.topBar-right ul li {
  padding: 0 10px;
}

.topBar-right ul li:not(:last-child) {
  border-right: 2px solid var(--primary-color);
}

.topBar-right ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

/* search sectin CSS */
.search {
  text-align: center;
  margin-top: 7rem;
}

.search .static-text {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0;
  color: #fff;
  text-shadow: 2px 2px 5px #333;
}

.search input {
  width: 50vw;
  height: 2.6rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 1.2rem;
}

.searchContainer {
  width: 80vw;
  margin: 60px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.sectionContainer__box {
  height: 180px;
  border: 6px solid #fff;
  border-radius: 10px;
  position: relative;
}

.sectionContainer__box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: blur(0.8px);
}

.sectionContainer__name {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 5px #333;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.searchContainer a:hover .sectionContainer__box {
  border: 6px solid rgba(33, 33, 33, 0.2);
  transition: all ease-in-out 0.2s;
}

.searchContainer a:hover .sectionContainer__name {
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
}

/* food section CSS */
.food {
  position: relative;
  bottom: 250px;
}

.foodContent {
  width: 70vw;
  margin: 0 auto 50px;
  padding: 25px 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.5);
}

.foodContent__title {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.foodContent__boxes {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.foodContent__box {
  padding: 20px 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.foodContent__img{
  width: 270px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.foodContent__img img {
  width: 100%;
  height: 100%;
}

.foodContent__img:hover img {
  transform: scale(1.3);
  transition: all ease-in-out 0.3s;
}

.foodContent__name {
  font-weight: 600;
  margin: 15px 0;
  height: 80px;
  text-align: center;
}

.foodContent__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 150px;
}

.foodContent__tags li {
  list-style: none;
  display: inline;
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 20px;
  padding: 2px 10px;
  margin: 5px;
}

.foodContent__tags li a {
  text-decoration: none;
  color: rgba(33, 33, 33, 0.8);
  font-size: 0.8rem;
}

.foodContent__tags li:hover {
  background-color: rgba(33, 33, 33, 0.1);
  transition: all ease-in-out 0.3s;
}

.foodContent__price {
  color: var(--primary-color);
  font-weight: 600;
}

.foodContent__add {
  margin-top: 15px;
}

.foodContent__addButton {
  padding: 10px 30px;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.foodContent__addButton:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all ease-in-out 0.3s;
}

/* footer section CSS */
.footer {
  margin-top: -150px;
}
.footerContent {
  width: 70vw;
  margin: 0 auto;
  padding: 25px 80px;
  text-align: center;
}

.footer h2 {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer h3 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
  margin: 25px 0;
}

.footer h4 {
  font-size: 1.2rem;
  opacity: 0.6;
  font-weight: 200;
}
.footerLinks {
  margin: 10px 0;
}
.footerLinks a {
  color: rgba(33, 33, 33, 0.8);
  margin: 0 10px;
}

.mediaLinks {
  margin: 40px 0;
}

.footer .copyright {
  margin-top: 20px;
}
.footer p {
  opacity: 0.8;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  /* slider section CSS */

  /* header sectin CSS */

  /* topBar section CSS */

  /* food section CSS */
  .food {
    position: relative;
    bottom: 140px;
  }

  .foodContent {
    width: 90%;
  }

  .foodContent__boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  /* footer section CSS */
  .footer {
    margin-top: -100px;
  }

  .footerContent {
    width: 80vw;
  }
}

@media screen and (max-width: 576px) {
  /* slideshow content */
  /* slideshow-container */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides img{
  height: 100vh;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

  /* slider section CSS */

  /* header sectin CSS */

  /* topBar section CSS */

  .logo__image {
    height: 30px;
  }

  .buttonLocation {
    display: none;
  }

  .topBar-right {
    display: none;
  }

  /* search sectin CSS */
  .searchContainer {
    width: 80vw;
    margin: 60px auto;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .search .static-text {
    font-size: 2.3rem;
  }

  .search input {
    width: 80vw;
  }

  .sectionContainer__box {
    height: 140px;
  }

  .sectionContainer__name {
    font-size: 1.2rem;
  }

  /* food section CSS */
  .food {
    position: static;
    margin-top: 30px;
  }

  .foodContent {
    width: 90vw;
    padding: 25px 5px;
  }

  .foodContent__title{
    margin-left: 20px;
  }

  .foodContent__boxes {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }

  .foodContent__box {
    padding: 20px 5px;
    margin-top: 30px;
  }
  .foodContent__img img {
    width: 100%;
  }

  .foodContent__name {
    height: auto;
  }

  .foodContent__tags {
    height: atuo;
  }
  .foodContent__add {
    margin-top: 0px;
  }

  /* footer section CSS */
  .footer {
    margin-top: 0px;
    padding: 0 20px;
  }
  .footerContent {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .footer h2 {
    font-size: 2rem;
  }
}
